

table {
    table-layout: fixed;
    width: 100%
    border-collapse: collapse;
    border: 2px solid black;
    background: white;
}

td {
    vertical-align: middle;
    padding: 3px;
    letter-spacing: 1px;
}

td:nth-of-type(1) {
    width: 30%;
    text-align: center;
}

td:nth-of-type(2) {
    width: 70%;
}

caption {
    padding: 10px;
}

button {
    width: 100%;
    height: 100%;
}

label {
    padding: 3px;
}
