* {
    white-space: nowrap;
}

table {
    table-layout: fixed;
    width: stretch;
    background: white;
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 100%;
}

tbody {
    border-top: 1px dashed grey;
    border-bottom: 1px dashed grey;
    border-collapse: collapse;
}

table tr {
    border-left: 5px;
    border-right: 5px;
}

table tr:nth-of-type(1) {
    border-top: none;
}

table tr:nth-last-of-type(1) {
    border-bottom: none;
}

table td {
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 6px;
    letter-spacing: 1px;
    border-collapse: collapse;
}

table td:nth-of-type(1) {
    width: 20%;
    text-align: center;
    padding-right: 1px;
}

table td:nth-of-type(2) {
    width: 80%;
    padding-left: 1px;
}

table td[colspan="2"] {
    padding-top: 0px;
    padding-left: 6px;
    padding-right: 6px;
}

caption {
    font-size: 1.3em;
    padding: 10px;
}

button {
    width: 90%;
    height: fit-content;
}

label {
    padding: 3px;
    line-height: 1.5;
}

input[type="checkbox"] {
    vertical-align: middle;
    margin-left: 1px;
    margin-right: 1px;
}

fieldset {
    margin: 3px;
}
