* {
    white-space: nowrap;
}

table {
    table-layout: fixed;
    width: stretch;
    height: max-content;
    background: white;
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 100%;
}

tbody {
    border-top: 1px dashed grey;
    border-bottom: 1px dashed grey;
    border-collapse: collapse;
}

table tr {
    border-left: 5px;
    border-right: 5px;
}

table tr:nth-of-type(1) {
    border-top: none;
}

table tr:nth-last-of-type(1) {
    border-bottom: none;
}

table td {
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 6px;
    letter-spacing: 1px;
    border-collapse: collapse;
    white-space: normal;
    overflow-wrap: break-word;
}

table td:nth-of-type(1) {
    width: __MSG_css_td1_width__;
    text-align: center;
    padding-right: 1px;
}

table td:nth-of-type(2) {
    padding-left: 1px;
}

table td[colspan="2"] {
    padding-top: 0px;
    padding-left: 6px;
    padding-right: 6px;
}

caption {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}

button {
    width: 90%;
    height: fit-content;
    font-size: __MSG_css_button_font_size__;
}

label {
    padding-left: 3px;
    padding-right: 3px;
    line-height: 1.5;
}

input[type="checkbox"] {
    vertical-align: middle;
    margin-left: 1px;
    margin-right: 1px;
}

fieldset {
    width: stretch;
    margin: 3px;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

legend {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.break {
    flex-basis: 100%;
    height: 0;
}

option {
    background-color: white;
}
