* {
    white-space: nowrap;
}

table {
    table-layout: fixed;
    width: stretch;
    background: white;
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 100%;
}

tbody {
    border-top: 1px dashed grey;
    border-bottom: 1px dashed grey;
    border-collapse: collapse;
}

table tr:nth-of-type(1) {
    border-top: none;
}

table tr:nth-last-of-type(1) {
    border-bottom: none;
}

table td {
    vertical-align: middle;
    padding: 6px;
    letter-spacing: 1px;
    border-collapse: collapse;
}

table td:nth-of-type(1) {
    width: 25%;
    text-align: center;
}

table td:nth-of-type(2) {
    width: 75%;
}

caption {
    font-size: 1.3em;
    padding: 10px;
}

button {
    width: fit-content;
    height: fit-content;
}

label {
    padding: 3px;
    line-height: 1.5;
}

input[type="checkbox"] {
    vertical-align: middle;
    margin-left: 1px;
    margin-right: 1px;
}
